.quick-tweet {
    display: block;
    clear: both;
    margin-top:10px;
    padding: 15px;
    width: 500px;
    height: 100px;
    background: #fff;
    border: solid 1px #4099FF;
    border-radius: 5px;
}
.quick-tweet:hover {
    background: #FCFCFC;
}
.quick-tweet-avatar {
    display: inline;
    float: left;
    margin-top: 10px;
}
.quick-tweet-avatar img{
    width: 50px;
    height: 50px;
}
.quick-tweet-name {
    display: inline;
    float: left;
    margin-top: -10px;
    margin-left: 20px;
    width: 400px;
}
.quick-tweet-text {
    display: inline;
    float: left;
    margin-left: 20px;
    width: 400px;
}
.quick-tweet-button {
    display: block;
    clear: both;
    margin-top: 30px;
    padding-bottom: 30px;
}
.quick-tweet-button a {
    padding: 15px;
    background: #4099FF;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.quick-tweet-button a:visited{
    color: #fff;
}
.quick-tweet-internalbutton {
    display: block;
    clear: both;
    margin-top: 30px;
    padding-bottom: 30px;
}
.quick-tweet-internalbutton a {
    padding: 15px;
    background: #4099FF;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.quick-tweet-internalbutton a:visited{
    color: #fff;
}
.quick-tweet-internalbutton .tweet-it{
    display: none;
    float: right;
}
.quick-tweet-internalbutton textarea{
    margin-bottom: 30px;
    padding: 5px;
}
