.quick-tweet {
}
.quick-tweet ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.quick-tweet ol li {
    display: block;
    clear: both;
    margin-bottom: 30px;
}
.quick-tweet .quick-tweet-avatar {
    display: inline;
    float: left;
    margin-right: 10px;
}
.quick-tweet .quick-tweet-avatar img{
    padding-top: 10px;
}

.quick-tweet-tweetbutton {
    display: block;
    clear: both;
    margin-top: 30px;
    padding-bottom: 30px;
}
.quick-tweet-tweetbutton a {
    padding: 15px;
    background: #4099FF;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.quick-tweet-tweetbutton a:visited{
    color: #fff;
}
.quick-tweet-tweetbutton .tweet-it{
    display: none;
    float: right;
}
.quick-tweet-tweetbutton textarea{
    margin-bottom: 30px;
    padding: 5px;
}
